{"openapi":"3.0.1","info":{"title":"API de inserção, alteração, exclusão e consulta de Unidades Imobiliárias","description":"API para inserção, alteração, exclusão e consulta de Unidades Imobiliárias","version":"0.0.1-SNAPSHOT"},"servers":[{"url":"https://hom-lb-sinter2-cadurb.np.estaleiro.serpro.gov.br/api"}],"security":[{"oauth2":["default"]}],"tags":[{"name":"Consulta de Payload dos Elementos","description":"Endpoints para consultar payload do elemento"},{"name":"Consulta de Processamento e Falhas","description":"Endpoints para consultar resultado do processamento de requisições e falhas"},{"name":"Alteração de Unidades Imobiliárias","description":"Endpoints para alterar Unidades Imobiliárias individualmente ou em lote"},{"name":"Consulta de Unidades Imobiliárias","description":"Endpoints para consultar Unidades Imobiliárias"},{"name":"Desativação de Unidades Imobiliárias","description":"Endpoints para desativar Unidades Imobiliárias individualmente ou em lote"},{"name":"Inclusão de Unidades Imobiliárias","description":"Endpoints para incluir Unidades Imobiliárias individualmente"},{"name":"Consulta de Vinculações","description":"Endpoints para consultar vinculações de lotes"},{"name":"Validação de Unidades Imobiliárias","description":"Endpoints para validar Unidades Imobiliárias sem persistir"},{"name":"Inclusão de Unidades Imobiliárias","description":"Endpoints para incluir Unidades Imobiliárias individualmente ou em lote"}],"paths":{"/v1/{codigoIbge}/uis":{"get":{"tags":["Consulta de Unidades Imobiliárias"],"summary":"Consulta todas as Unidades Imobiliárias de um determinado município","description":"Retorna lista paginada de Unidades Imobiliárias simplificadas","operationId":"getUisByCodigoIbge","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"Número da página (começa em 1)","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"qtdePorPagina","in":"query","description":"Quantidade de registros por página","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"*/*":{"schema":{"type":"object"}}}},"204":{"description":"Nenhuma unidade imobiliária encontrada","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Acesso negado","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Não autorizado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro inesperado","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Serviço Indisponível","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Alteração de Unidades Imobiliárias"],"summary":"Esse serviço altera múltiplas Unidades Imobiliárias em formato NDJSON","description":"Processa cada linha (JSON) do NDJSON para alteração aplicando validação, geração de CIB e persistência, retornando lista de resultados individuais.","operationId":"alterarUisNdjson","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Arquivo NDJSON contendo várias Unidades Imobiliárias (uma por linha)","content":{"application/x-ndjson":{"schema":{"type":"string","format":"byte"}},"application/ndjson":{"schema":{"type":"string","format":"byte"}},"text/plain":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"201":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}},"409":{"description":"Conflito – UI já existente (mesma inscrição imobiliária)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}}}},"post":{"tags":["Inclusão de Unidades Imobiliárias"],"summary":"Insere múltiplas Unidades Imobiliárias em formato NDJSON","description":"Processa cada linha (JSON) do NDJSON aplicando validação, geração de CIB e persistência (em lote), retornando lista de resultados individuais.","operationId":"incluirUisNdjson","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Arquivo NDJSON contendo várias Unidades Imobiliárias (uma por linha)","content":{"application/x-ndjson":{"schema":{"type":"string","format":"byte"}},"application/ndjson":{"schema":{"type":"string","format":"byte"}},"text/plain":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"201":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}},"409":{"description":"Conflito – UI já existente (mesma inscrição imobiliária)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}}}}},"/v1/{codigoIbge}/uis/desativacao":{"put":{"tags":["Desativação de Unidades Imobiliárias"],"summary":"Desativa múltiplas Unidades Imobiliárias em formato NDJSON","description":"Processa cada linha (JSON) do NDJSON aplicando validação e desativação, retornando lista de resultados individuais.","operationId":"desativarUisNdjson","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Arquivo NDJSON contendo várias Unidades Imobiliárias (uma por linha)","content":{"application/x-ndjson":{"schema":{"type":"string","format":"byte"}},"application/ndjson":{"schema":{"type":"string","format":"byte"}},"text/plain":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"201":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}},"409":{"description":"Conflito – UI já existente (mesma inscrição imobiliária)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}}}}},"/v1/{codigoIbge}/ui/{cib}":{"put":{"tags":["Alteração de Unidades Imobiliárias"],"summary":"Altera uma Unidade Imobiliária em formato JSON","description":"Retorna Unidade Imobiliária inserida","operationId":"alterarUiJson","parameters":[{"name":"cib","in":"path","description":"CIB da requisição","required":true,"schema":{"type":"string"}},{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"maximum":9999999,"minimum":1100000,"type":"integer","format":"int32"}}],"requestBody":{"description":"Unidade Imobiliária no formato JSON","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UnidadeImobiliariaEntradaDTO"},"example":{"DadosGeraisImovel":{"inscricaoImobiliaria":"1234567890123456789012345","temBairro":true,"tipoImovel":3,"tpArquitetonico":11,"destinacaoImovel":2,"idParcela":"PARC-12345","areaTerreno":350.75,"areaConstruida":120.5,"bice":1,"anoConstrutivo":2005,"valorVenal":450000.0,"dtUltimoValorVenal":"2024-12-01","padraoConstrutivo":3,"qtdGaragem":2,"temPiscina":false,"valorRefMercado":520000.0,"dataUltVlrMercado":"2024-12-15"},"AreaConstruidaCompl":{"areaPrivativa":100.25,"areaComum":20.25,"fraIdeal":0.5},"EnderecoImovel":{"tipoLogradouro":100,"nomeLogradouro":"Avenida Brasil","bairro":"Centro","cep":"70040900","numeroImovel":"1234","complNroImovel":"BL A","complEndereco":"APT 201"},"Titular":[{"niTitular":"76760955064","nomeTitular":"JOAO DA SILVA","percTitularidade":1.0,"dtAquisicaoTitular":"2023-05-20","docTitularidade":1,"tipoTitularidade":1}],"ServicoRegistroImovel":{"nomeServentiaRI":"CARTORIO REGISTRO GERAL","cnsRI":123456,"cnmRI":789012,"numMatriculaRI":"MAT123456789","numUltimoAtoRI":"ATO987","lvCartRI":"LV01","flCartRI":"FL02","dtUltAtualizacao":"2024-11-30"},"CartorioNotas":{"nomeServentiaNotas":"CARTORIO NOTAS CENTRAL","cnsNotas":555555,"lvCartNotas":"LN01","flCartNotas":"FL01"},"ITBI":{"baseCalculITBI":500000.0,"dtTransacaoITBI":"2024-10-10","tpTransacaoITBI":1,"percTransacionadoITBI":1.0,"TransmitenteITBI":[{"nomeTransmitenteITBI":"EMP PEREIRA","idTransmitenteITBI":"91444270000147"}],"AdquirenteITBI":[{"nomeAdquirenteITBI":"JOAO DA SILVA","idAdquirenteITBI":"76760955064","percTransacAdquirenteITBI":1.0}],"valorRefITBI":500000.0},"DadosGeo":{"idLotePonto":"1001","idLotePoligono":"2001"}}}},"required":true},"responses":{"201":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}},"409":{"description":"Conflito – UI já existente (mesma inscrição imobiliária)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlteracaoIndividualRespostaDTO"}}}}}}},"/v1/{codigoIbge}/ui/desativacao":{"put":{"tags":["Desativação de Unidades Imobiliárias"],"summary":"Desativa uma Unidade Imobiliária","description":"Desativa uma Unidade Imobiliária individual através do CIB","operationId":"desativarUi","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"maximum":9999999,"minimum":1100000,"type":"integer","format":"int32"}}],"requestBody":{"description":"Unidade Imobiliária no formato JSON","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DesativacaoDTO"},"example":{"inscricaoImobiliaria":"1234567890123456789012346","cib":"ABCDEFGH","tipoDesativacao":2,"motivoDesativacao":10,"complemento":"texto"}}},"required":true},"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}},"409":{"description":"Conflito – UI já existente (mesma inscrição imobiliária)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}}}}},"/v1/{codigoIbge}/ui":{"post":{"tags":["Inclusão de Unidades Imobiliárias"],"summary":"Insere uma Unidade Imobiliária em formato JSON","description":"Retorna Unidade Imobiliária inserida","operationId":"incluirUiJson","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"maximum":9999999,"minimum":1100000,"type":"integer","format":"int32"}}],"requestBody":{"description":"Unidade Imobiliária no formato JSON","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UnidadeImobiliariaEntradaDTO"},"example":{"DadosGeraisImovel":{"inscricaoImobiliaria":"1234567890123456789012345","temBairro":true,"tipoImovel":3,"tpArquitetonico":11,"destinacaoImovel":2,"idParcela":"PARC-12345","areaTerreno":350.75,"areaConstruida":120.5,"bice":1,"anoConstrutivo":2005,"valorVenal":450000.0,"dtUltimoValorVenal":"2024-12-01","padraoConstrutivo":3,"qtdGaragem":2,"temPiscina":false,"valorRefMercado":520000.0,"dataUltVlrMercado":"2024-12-15"},"AreaConstruidaCompl":{"areaPrivativa":100.25,"areaComum":20.25,"fraIdeal":0.5},"EnderecoImovel":{"tipoLogradouro":100,"nomeLogradouro":"Avenida Brasil","bairro":"Centro","cep":"70040900","numeroImovel":"1234","complNroImovel":"BL A","complEndereco":"APT 201"},"Titular":[{"niTitular":"76760955064","nomeTitular":"JOAO DA SILVA","percTitularidade":1.0,"dtAquisicaoTitular":"2023-05-20","docTitularidade":1,"tipoTitularidade":1}],"ServicoRegistroImovel":{"nomeServentiaRI":"CARTORIO REGISTRO GERAL","cnsRI":123456,"cnmRI":789012,"numMatriculaRI":"MAT123456789","numUltimoAtoRI":"ATO987","lvCartRI":"LV01","flCartRI":"FL02","dtUltAtualizacao":"2024-11-30"},"CartorioNotas":{"nomeServentiaNotas":"CARTORIO NOTAS CENTRAL","cnsNotas":555555,"lvCartNotas":"LN01","flCartNotas":"FL01"},"ITBI":{"baseCalculITBI":500000.0,"dtTransacaoITBI":"2024-10-10","tpTransacaoITBI":1,"percTransacionadoITBI":1.0,"TransmitenteITBI":[{"nomeTransmitenteITBI":"EMP PEREIRA","idTransmitenteITBI":"91444270000147"}],"AdquirenteITBI":[{"nomeAdquirenteITBI":"JOAO DA SILVA","idAdquirenteITBI":"76760955064","percTransacAdquirenteITBI":1.0}],"valorRefITBI":500000.0},"DadosGeo":{"idLotePonto":"1001","idLotePoligono":"2001"}}}},"required":true},"responses":{"201":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}},"409":{"description":"Conflito – UI já existente (mesma inscrição imobiliária)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InclusaoIndividualRespostaDTO"}}}}}}},"/v1/validacao/{codigoIbge}/ui":{"post":{"tags":["Validação de Unidades Imobiliárias"],"summary":"Valida uma Unidade Imobiliária em formato JSON","description":"Retorna Unidade Imobiliária validada","operationId":"validarUiJson","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"maximum":9999999,"minimum":1100000,"type":"integer","format":"int32"}}],"requestBody":{"description":"Unidade Imobiliária no formato JSON","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UnidadeImobiliariaEntradaDTO"},"example":{"DadosGeraisImovel":{"inscricaoImobiliaria":"1234567890123456789012345","temBairro":true,"tipoImovel":3,"tpArquitetonico":11,"destinacaoImovel":2,"idParcela":"PARC-12345","areaTerreno":350.75,"areaConstruida":120.5,"bice":1,"anoConstrutivo":2005,"valorVenal":450000.0,"dtUltimoValorVenal":"2024-12-01","padraoConstrutivo":3,"qtdGaragem":2,"temPiscina":false,"valorRefMercado":520000.0,"dataUltVlrMercado":"2024-12-15"},"AreaConstruidaCompl":{"areaPrivativa":100.25,"areaComum":20.25,"fraIdeal":0.5},"EnderecoImovel":{"tipoLogradouro":100,"nomeLogradouro":"Avenida Brasil","bairro":"Centro","cep":"70040900","numeroImovel":"1234","complNroImovel":"BL A","complEndereco":"APT 201"},"Titular":[{"niTitular":"76760955064","nomeTitular":"JOAO DA SILVA","percTitularidade":1.0,"dtAquisicaoTitular":"2023-05-20","docTitularidade":1,"tipoTitularidade":1}],"ServicoRegistroImovel":{"nomeServentiaRI":"CARTORIO REGISTRO GERAL","cnsRI":123456,"cnmRI":789012,"numMatriculaRI":"MAT123456789","numUltimoAtoRI":"ATO987","lvCartRI":"LV01","flCartRI":"FL02","dtUltAtualizacao":"2024-11-30"},"CartorioNotas":{"nomeServentiaNotas":"CARTORIO NOTAS CENTRAL","cnsNotas":555555,"lvCartNotas":"LN01","flCartNotas":"FL01"},"ITBI":{"baseCalculITBI":500000.0,"dtTransacaoITBI":"2024-10-10","tpTransacaoITBI":1,"percTransacionadoITBI":1.0,"TransmitenteITBI":[{"nomeTransmitenteITBI":"EMP PEREIRA","idTransmitenteITBI":"91444270000147"}],"AdquirenteITBI":[{"nomeAdquirenteITBI":"JOAO DA SILVA","idAdquirenteITBI":"76760955064","percTransacAdquirenteITBI":1.0}],"valorRefITBI":500000.0},"DadosGeo":{"idLotePonto":"1001","idLotePoligono":"2001"}}}},"required":true},"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FalhasDTO"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FalhasDTO"}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FalhasDTO"}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FalhasDTO"}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FalhasDTO"}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FalhasDTO"}}}}}}},"/v1/{codigoIbge}/vinculacoes/{idLote}":{"get":{"tags":["Consulta de Vinculações"],"summary":"Consulta vinculações de um lote","description":"Retorna as unidades imobiliárias vinculadas a um lote específico, informando a situação de cada vinculação (ativa ou desvinculada)","operationId":"consultarVinculacoes","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do município","required":true,"schema":{"pattern":"^\\d{7}$","type":"string"}},{"name":"idLote","in":"path","description":"Identificador do lote","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculacaoConsultaDTO"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculacaoConsultaDTO"}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculacaoConsultaDTO"}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculacaoConsultaDTO"}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculacaoConsultaDTO"}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculacaoConsultaDTO"}}}}}}},"/v1/{codigoIbge}/ui/{inscricaoImobiliaria}":{"get":{"tags":["Consulta de Unidades Imobiliárias"],"summary":"Consulta uma Unidade Imobiliária por código IBGE e inscrição imobiliária","description":"Retorna Unidade Imobiliária processada","operationId":"getByCodigoIbgeInscricaoImobiliaria","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do Município","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"inscricaoImobiliaria","in":"path","description":"Inscrição imobiliária da UI","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"401":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"403":{"description":"Não autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"500":{"description":"Erro inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"503":{"description":"Serviço Indisponível","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}}}}},"/v1/{codigoIbge}/elemento/{idElemento}/payload":{"get":{"tags":["Consulta de Payload dos Elementos"],"summary":"Consulta o Payload  por código IBGE e id do elemento","description":"Retorna o payload do elemento","operationId":"getByCodigoIbgeIdElemento","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE do Município","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idElemento","in":"path","description":"ID do elemento","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Acesso negado","content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"Não autorizado","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Erro inesperado","content":{"application/json":{"schema":{"type":"string"}}}},"503":{"description":"Serviço Indisponível","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/v1/{codigoIbge}/consulta/{idRequisicao}":{"get":{"tags":["Consulta de Processamento e Falhas"],"summary":"Consulta de resultado do processamento da requisição","description":"Retorna registros de unidades imobiliárias processadas em uma requisição","operationId":"consultarProcessamento","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idRequisicao","in":"path","description":"ID da Requisição","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"cib","in":"query","required":false,"schema":{"type":"string"}},{"name":"inscricaoImobiliaria","in":"query","required":false,"schema":{"type":"string"}},{"name":"efetivados","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rejeitados","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"obterPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"operacao","in":"query","required":false,"schema":{"pattern":"I|A|D","type":"string"}},{"name":"listarFalhas","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"codigoFalha","in":"query","required":false,"schema":{"type":"string"}},{"name":"campoFalha","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"qtdePorPagina","in":"query","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":20}},{"name":"ordenarPor","in":"query","description":"Campos para ordenação. Cada valor pode ser 'campo' (ASC) ou 'campo,desc' (DESC). Ex.: ordenarPor=inscricaoImobiliaria,asc&ordenarPor=cib,desc","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoRetorno"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoRetorno"}}}},"401":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoRetorno"}}}},"403":{"description":"Não autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoRetorno"}}}},"500":{"description":"Erro inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoRetorno"}}}},"503":{"description":"Serviço Indisponível","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoRetorno"}}}}}}},"/v1/{codigoIbge}/arquivo/{idArquivo}/consulta":{"get":{"tags":["Consulta de Processamento e Falhas"],"summary":"Consulta de resultado do processamento do arquivo","description":"Retorna registros de unidades imobiliárias processadas em um arquivo","operationId":"consultarProcessamentoPorArquivo","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idArquivo","in":"path","description":"Id do arquivo","required":true,"schema":{"type":"string"}},{"name":"cib","in":"query","required":false,"schema":{"type":"string"}},{"name":"inscricaoImobiliaria","in":"query","required":false,"schema":{"type":"string"}},{"name":"efetivados","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rejeitados","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"obterPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"operacao","in":"query","required":false,"schema":{"pattern":"I|A|D","type":"string"}},{"name":"listarFalhas","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"codigoFalha","in":"query","required":false,"schema":{"type":"string"}},{"name":"campoFalha","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"qtdePorPagina","in":"query","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":20}},{"name":"ordenarPor","in":"query","description":"Campos para ordenação. Cada valor pode ser 'campo' (ASC) ou 'campo,desc' (DESC). Ex.: ordenarPor=inscricaoImobiliaria,asc&ordenarPor=cib,desc","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"401":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"403":{"description":"Não autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"500":{"description":"Erro inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"503":{"description":"Serviço Indisponível","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}}}}},"/v1/{codigoIbge}/arquivo/{idArquivo}/consulta/depara":{"get":{"tags":["Consulta de Processamento e Falhas"],"summary":"[DE/PARA] Consulta de resultado do processamento do arquivo","description":"[DE/PARA] Retorna registros de unidades imobiliárias processadas em um arquivo","operationId":"consultarProcessamentoPorArquivoDePara","parameters":[{"name":"codigoIbge","in":"path","description":"Código IBGE","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idArquivo","in":"path","description":"Id do arquivo","required":true,"schema":{"type":"string"}},{"name":"cib","in":"query","required":false,"schema":{"type":"string"}},{"name":"inscricaoImobiliaria","in":"query","required":false,"schema":{"type":"string"}},{"name":"efetivados","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rejeitados","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"obterPayload","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"operacao","in":"query","required":false,"schema":{"pattern":"I|A|D","type":"string"}},{"name":"listarFalhas","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"codigoFalha","in":"query","required":false,"schema":{"type":"string"}},{"name":"campoFalha","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"qtdePorPagina","in":"query","required":false,"schema":{"minimum":1,"type":"integer","format":"int32","default":20}},{"name":"ordenarPor","in":"query","description":"Campos para ordenação. Cada valor pode ser 'campo' (ASC) ou 'campo,desc' (DESC). Ex.: ordenarPor=inscricaoImobiliaria,asc&ordenarPor=cib,desc","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"401":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"403":{"description":"Não autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"500":{"description":"Erro inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}},"503":{"description":"Serviço Indisponível","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsultaProcessamentoArquivoRetorno"}}}}}}},"/v1/ui/{cib}":{"get":{"tags":["Consulta de Unidades Imobiliárias"],"summary":"Consulta uma Unidade Imobiliária por CIB","description":"Retorna Unidade Imobiliária processada","operationId":"getByCib","parameters":[{"name":"cib","in":"path","description":"CIB da requisição","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Dados recuperados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"400":{"description":"Parâmetros inválidos na chamada do serviço ou Parâmetros não informados na chamada do serviço","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"401":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"403":{"description":"Não autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"500":{"description":"Erro inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}},"503":{"description":"Serviço Indisponível","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProcessadaDTO"}}}}}}}},"components":{"schemas":{"AlteracaoIndividualRespostaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"uiAlterada":{"$ref":"#/components/schemas/UiSimplificadaDTO"},"camposInvalidos":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}},"mensagem":{"type":"string"}}},"CIBRetornoDTO":{"required":["situacao","valor"],"type":"object","properties":{"valor":{"pattern":"^[a-zA-Z0-9]{8}$","type":"string"},"situacao":{"type":"string"}}},"DetalheFalhaDTO":{"type":"object","properties":{"campo":{"type":"string"},"erro":{"type":"string"},"idFalha":{"type":"string"}}},"UiSimplificadaDTO":{"required":["cib","inscricaoImobiliaria"],"type":"object","properties":{"inscricaoImobiliaria":{"type":"string"},"cib":{"$ref":"#/components/schemas/CIBRetornoDTO"}}},"DesativacaoIndividualRespostaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"uiDesativada":{"$ref":"#/components/schemas/UiSimplificadaDTO"},"camposInvalidos":{"type":"array","items":{"type":"string"}},"mensagem":{"type":"string"}}},"AdquirenteITBIDTO":{"type":"object","properties":{"nomeAdquirenteITBI":{"maxLength":300,"minLength":0,"type":"string"},"idAdquirenteITBI":{"type":"string"},"percTransacAdquirenteITBI":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number"}}},"AreaConstruidaComplDTO":{"type":"object","properties":{"areaPrivativa":{"type":"number"},"areaComum":{"type":"number"},"fraIdeal":{"type":"number"}}},"CartorioNotasDTO":{"type":"object","properties":{"nomeServentiaNotas":{"maxLength":300,"minLength":0,"type":"string"},"cnsNotas":{"maximum":999999,"minimum":1,"type":"integer","format":"int32"},"lvCartNotas":{"maxLength":4,"minLength":0,"type":"string"},"flCartNotas":{"maxLength":4,"minLength":0,"type":"string"}}},"DadosGeoDTO":{"type":"object","properties":{"idLotePonto":{"type":"string"},"idLotePoligono":{"type":"string"}}},"DadosGeraisImovelDTO":{"required":["areaTerreno","inscricaoImobiliaria","temBairro","tipoImovel"],"type":"object","properties":{"inscricaoImobiliaria":{"maxLength":45,"minLength":0,"type":"string"},"tipoImovel":{"type":"integer","format":"int32"},"tipoImovelDescricao":{"type":"string"},"tpArquitetonico":{"type":"integer","format":"int32"},"tpArquitetonicoDescricao":{"type":"string"},"destinacaoImovel":{"type":"integer","format":"int32"},"destinacaoImovelDescricao":{"type":"string"},"idParcela":{"maxLength":35,"minLength":0,"type":"string"},"areaTerreno":{"type":"number"},"areaConstruida":{"type":"number"},"bice":{"type":"integer","format":"int32"},"biceDescricao":{"type":"string"},"anoConstrutivo":{"maximum":2100,"minimum":1900,"type":"integer","format":"int32"},"valorVenal":{"type":"number"},"dtUltimoValorVenal":{"type":"string"},"padraoConstrutivo":{"type":"integer","format":"int32"},"padraoConstrutivoDescricao":{"type":"string"},"qtdGaragem":{"maximum":999,"minimum":0,"type":"integer","format":"int32"},"temPiscina":{"type":"boolean"},"valorRefMercado":{"type":"number"},"temBairro":{"type":"boolean"},"dataUltVlrMercado":{"type":"string"}}},"EnderecoImovelDTO":{"required":["cep","nomeLogradouro","tipoLogradouro"],"type":"object","properties":{"tipoLogradouro":{"type":"integer","format":"int32"},"tipoLogradouroDescricao":{"type":"string"},"nomeLogradouro":{"maxLength":150,"minLength":0,"type":"string"},"bairro":{"maxLength":30,"minLength":0,"type":"string"},"cep":{"pattern":"\\d{8}","type":"string"},"numeroImovel":{"maxLength":8,"minLength":0,"type":"string"},"complNroImovel":{"maxLength":30,"minLength":0,"type":"string"},"complEndereco":{"maxLength":30,"minLength":0,"type":"string"}}},"ITBIDTO":{"type":"object","properties":{"baseCalculITBI":{"type":"number"},"dtTransacaoITBI":{"type":"string"},"tpTransacaoITBI":{"type":"integer","format":"int32"},"tpTransacaoITBIDescricao":{"type":"string"},"percTransacionadoITBI":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"valorRefITBI":{"type":"number"},"TransmitenteITBI":{"type":"array","items":{"$ref":"#/components/schemas/TransmitenteITBIDTO"}},"AdquirenteITBI":{"type":"array","items":{"$ref":"#/components/schemas/AdquirenteITBIDTO"}}}},"ServicoRegistroImovelDTO":{"type":"object","properties":{"nomeServentiaRI":{"maxLength":300,"minLength":0,"type":"string"},"cnsRI":{"maximum":999999,"minimum":1,"type":"integer","format":"int32"},"cnmRI":{"pattern":"\\d{15,16}","type":"string"},"numMatriculaRI":{"maxLength":15,"minLength":0,"type":"string"},"numUltimoAtoRI":{"maxLength":7,"minLength":0,"type":"string"},"lvCartRI":{"maxLength":4,"minLength":0,"type":"string"},"flCartRI":{"maxLength":4,"minLength":0,"type":"string"},"dtUltAtualizacao":{"type":"string"}}},"TitularDTO":{"type":"object","properties":{"niTitular":{"type":"string"},"nomeTitular":{"maxLength":300,"minLength":0,"type":"string"},"percTitularidade":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"dtAquisicaoTitular":{"type":"string"},"docTitularidade":{"type":"integer","format":"int32"},"docTitularidadeDescricao":{"type":"string"},"tipoTitularidade":{"type":"integer","format":"int32"},"tipoTitularidadeDescricao":{"type":"string"}}},"TransmitenteITBIDTO":{"type":"object","properties":{"nomeTransmitenteITBI":{"maxLength":300,"minLength":0,"type":"string"},"idTransmitenteITBI":{"type":"string"}}},"UnidadeImobiliariaEntradaDTO":{"required":["DadosGeraisImovel","EnderecoImovel"],"type":"object","properties":{"DadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovelDTO"},"AreaConstruidaCompl":{"$ref":"#/components/schemas/AreaConstruidaComplDTO"},"EnderecoImovel":{"$ref":"#/components/schemas/EnderecoImovelDTO"},"Titular":{"type":"array","items":{"$ref":"#/components/schemas/TitularDTO"}},"ServicoRegistroImovel":{"$ref":"#/components/schemas/ServicoRegistroImovelDTO"},"CartorioNotas":{"$ref":"#/components/schemas/CartorioNotasDTO"},"ITBI":{"$ref":"#/components/schemas/ITBIDTO"},"DadosGeo":{"$ref":"#/components/schemas/DadosGeoDTO"}}},"DesativacaoDTO":{"required":["cib","codigoIbgeMunicipio","inscricaoImobiliaria","motivoDesativacao","tipoDesativacao"],"type":"object","properties":{"codigoIbgeMunicipio":{"type":"integer","format":"int32"},"inscricaoImobiliaria":{"maxLength":45,"minLength":0,"type":"string"},"cib":{"maxLength":8,"minLength":0,"type":"string"},"tipoDesativacao":{"maximum":2,"minimum":1,"type":"integer","format":"int32"},"motivoDesativacao":{"maximum":10,"minimum":1,"type":"integer","format":"int32"},"complemento":{"maxLength":300,"minLength":0,"type":"string"}}},"InclusaoIndividualRespostaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"uiIncluida":{"$ref":"#/components/schemas/UiSimplificadaDTO"},"camposInvalidos":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}},"mensagem":{"type":"string"}}},"FalhasDTO":{"type":"object","properties":{"temImpedimento":{"type":"boolean"},"detalheFalhas":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}}}},"UnidadeImobiliariaVinculadaDTO":{"type":"object","properties":{"cib":{"type":"string"},"inscricaoImobiliaria":{"type":"string"}}},"VinculacaoConsultaDTO":{"type":"object","properties":{"codigoIBGE":{"type":"string"},"qtdUIs":{"type":"integer","format":"int32"},"vinculoLote":{"type":"string"},"mensagem":{"type":"string"},"uis":{"type":"array","items":{"$ref":"#/components/schemas/UnidadeImobiliariaVinculadaDTO"}}}},"InfoIbgeDTO":{"required":["codigoIbge","nomeMunicipio","siglaUf"],"type":"object","properties":{"nomeMunicipio":{"type":"string"},"siglaUf":{"type":"string"},"codigoIbge":{"type":"integer","format":"int32"}}},"UiProcessadaDTO":{"type":"object","properties":{"InfoIbge":{"$ref":"#/components/schemas/InfoIbgeDTO"},"Cib":{"$ref":"#/components/schemas/CIBRetornoDTO"},"DadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovelDTO"},"AreaConstruidaCompl":{"$ref":"#/components/schemas/AreaConstruidaComplDTO"},"EnderecoImovel":{"$ref":"#/components/schemas/EnderecoImovelDTO"},"Titular":{"type":"array","items":{"$ref":"#/components/schemas/TitularDTO"}},"ServicoRegistroImovel":{"$ref":"#/components/schemas/ServicoRegistroImovelDTO"},"CartorioNotas":{"$ref":"#/components/schemas/CartorioNotasDTO"},"ITBI":{"$ref":"#/components/schemas/ITBIDTO"},"DadosGeo":{"$ref":"#/components/schemas/DadosGeoDTO"}}},"ConsultaProcessamentoRetorno":{"type":"object","properties":{"idRequisicao":{"type":"integer","format":"int64"},"codigoIbgeMunicipio":{"type":"integer","format":"int32"},"dataHoraRequisicao":{"type":"string"},"qtdeRegistrosTotal":{"type":"integer","format":"int32"},"qtdeRegistrosPagina":{"type":"integer","format":"int32"},"pagina":{"type":"integer","format":"int32"},"ultimaPagina":{"type":"boolean"},"registros":{"type":"array","items":{"$ref":"#/components/schemas/Registro"}}},"description":"Retorno do processamento na consulta de unidades imobiliárias"},"FalhaDTO":{"type":"object","properties":{"elementoId":{"type":"integer","format":"int64"},"codigoFalha":{"type":"string"},"camposFalha":{"type":"string"},"complemento":{"type":"string"}},"description":"Falhas"},"Registro":{"type":"object","properties":{"inscricaoImobiliaria":{"type":"string"},"cib":{"type":"string"},"operacao":{"type":"string"},"efetivado":{"type":"boolean"},"falhas":{"type":"array","items":{"$ref":"#/components/schemas/FalhaDTO"}},"payload":{"type":"string"},"idElemento":{"type":"integer","format":"int64"}},"description":"Registro de unidade imobiliária com falhas"},"ConsultaProcessamentoArquivoRetorno":{"type":"object","properties":{"listaRequisicoes":{"type":"array","items":{"type":"integer","format":"int64"}},"codigoIbgeMunicipio":{"type":"integer","format":"int32"},"dataHoraRequisicao":{"type":"string"},"qtdeRegistrosTotal":{"type":"integer","format":"int32"},"qtdeRegistrosPagina":{"type":"integer","format":"int32"},"pagina":{"type":"integer","format":"int32"},"ultimaPagina":{"type":"boolean"},"registros":{"type":"array","items":{"$ref":"#/components/schemas/Registro"}}},"description":"Retorno do processamento na consulta de unidades imobiliárias"},"IdempotencyInputDTO":{"type":"object","properties":{"xIdempotencyKey":{"type":"string","format":"uuid"},"entrada":{"type":"string"}}},"IdempotencyResultDTO":{"type":"object","properties":{"statusCode":{"type":"integer","format":"int32"},"responseBody":{"type":"string"}}},"IdempotencyStoreDTO":{"type":"object","properties":{"xIdempotencyKey":{"type":"string","format":"uuid"},"entrada":{"type":"string"},"statusCode":{"type":"integer","format":"int32"},"responseBody":{"type":"string"}}},"CibDTO":{"type":"object","properties":{"ni":{"type":"string"},"ui":{"type":"string"},"origem":{"type":"string"},"situacao":{"type":"integer","format":"int32"},"dataInscricao":{"type":"string"},"dataProcessamento":{"type":"string"},"error":{"type":"string"},"mensagem":{"type":"string"}}},"IntegracaoCibDTO":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"error":{"type":"string"},"timestamp":{"type":"string"},"path":{"type":"string"}}},"ConsultaParamsBuilder":{"type":"object"},"ConsultaParams":{"type":"object","properties":{"codigoIbge":{"type":"integer","format":"int32"},"filtro":{"$ref":"#/components/schemas/ConsultaProcessamentoFilter"},"pagina":{"type":"integer","format":"int32"},"qtdPorPagina":{"type":"integer","format":"int32"},"ordenarPor":{"type":"array","items":{"type":"string"}},"idRequisicaoList":{"type":"array","items":{"type":"integer","format":"int64"}},"nomeArquivo":{"type":"string"},"individual":{"type":"boolean"}}},"ConsultaProcessamentoFilter":{"type":"object","properties":{"cib":{"type":"string"},"inscricaoImobiliaria":{"type":"string"},"efetivados":{"type":"boolean"},"rejeitados":{"type":"boolean"},"obterPayload":{"type":"boolean"},"operacao":{"pattern":"I|A|D","type":"string"},"listarFalhas":{"type":"boolean"},"codigoFalha":{"type":"string"},"campoFalha":{"type":"string"},"cibOrInscricaoExclusive":{"type":"boolean"},"falhaParamsValid":{"type":"boolean"},"codigoFalhaValido":{"type":"boolean"},"campoFalhaValido":{"type":"boolean"}}},"ConsultaProcessamentoArquivoRetornoBuilder":{"type":"object"},"ConsultaProcessamentoRetornoBuilder":{"type":"object"},"DeParaArquivoDTO":{"type":"object","properties":{"idArquivo":{"type":"string"},"status":{"type":"string"},"mensagemErro":{"type":"string"}}},"ElementoConsultaDTOBuilder":{"type":"object"},"ElementoConsultaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"inscricaoImobiliaria":{"type":"string"},"cib":{"type":"string"},"efetivado":{"type":"boolean"},"payload":{"type":"string"},"tipoRequisicao":{"type":"integer","format":"int32"}}},"InscricaoImobiliariaDTO":{"type":"object","properties":{"codigoIbge":{"type":"integer","format":"int32"},"inscricao":{"type":"string"},"cib":{"type":"string"}}},"MunicipioConsultaDTO":{"type":"object","properties":{"codigoIbge":{"type":"integer","format":"int32"},"nome":{"type":"string"},"siglaUf":{"type":"string"},"uf":{"type":"integer","format":"int32"}}},"ResponseEnderecoDto":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object"}},"elements":{"type":"integer","format":"int32"},"messageError":{"type":"string"}}},"ResultadoArquivoDTO":{"type":"object","properties":{"status":{"type":"string"},"idRequisicao":{"type":"string"}}},"PageElementoConsultaDTO":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ElementoConsultaDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"ResultadoConsulta":{"type":"object","properties":{"elementosPage":{"$ref":"#/components/schemas/PageElementoConsultaDTO"},"registros":{"type":"array","items":{"$ref":"#/components/schemas/Registro"}}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"UnidadeImobiliariaVinculadaDTOBuilder":{"type":"object"},"VinculacaoConsultaDTOBuilder":{"type":"object"},"AdquirenteItbi":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"itbi":{"$ref":"#/components/schemas/ITBI"},"nomeAdquirente":{"type":"string"},"niAdquirente":{"type":"string"},"percTransacao":{"type":"number"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"}}},"AreaConstruidaComplementos":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"areaPrivativa":{"type":"number"},"areaComum":{"type":"number"},"fracaoIdeal":{"type":"number"},"dadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovel"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"valores":{"$ref":"#/components/schemas/AreaConstruidaComplementos"}}},"CartorioNotas":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nomeServentiaNotas":{"type":"string"},"cnsNotas":{"type":"integer","format":"int32"},"livroCartorio":{"type":"string"},"folhaLivroCartorio":{"type":"string"},"dadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovel"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"valores":{"$ref":"#/components/schemas/CartorioNotas"}}},"DadosGeraisImoveisTitulares":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/DadosGeraisImoveisTitularesId"},"percentualTitularidade":{"type":"number"},"dataAquisicao":{"type":"string","format":"date"},"tipoTitularidade":{"type":"integer","format":"int32"},"docTitularidade":{"type":"integer","format":"int32"},"dadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovel"},"titular":{"$ref":"#/components/schemas/Titular"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"}}},"DadosGeraisImoveisTitularesId":{"type":"object","properties":{"dgimId":{"type":"integer","format":"int64"},"titularId":{"type":"integer","format":"int64"}}},"DadosGeraisImovel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigoIbgeMunicipio":{"type":"integer","format":"int32"},"inscricaoImobiliaria":{"type":"string"},"tipoImovel":{"type":"integer","format":"int32"},"tpArquitetonico":{"type":"integer","format":"int32"},"destinacaoImovel":{"type":"integer","format":"int32"},"idParcela":{"type":"string"},"areaTerreno":{"type":"number"},"areaConstruida":{"type":"number"},"bice":{"type":"integer","format":"int32"},"anoConstrutivo":{"type":"integer","format":"int32"},"valorVenal":{"type":"number"},"dtUltimoValorVenal":{"type":"string","format":"date"},"padraoConstrutivo":{"type":"integer","format":"int32"},"qtdGaragem":{"type":"integer","format":"int32"},"temPiscina":{"type":"boolean"},"valorRefMercado":{"type":"number"},"dataUltVlrMercado":{"type":"string","format":"date"},"temBairro":{"type":"boolean"},"cibValor":{"type":"string"},"cibSituacao":{"type":"string"},"cibMotivoSituacao":{"type":"string"},"cibSComplementoSituacao":{"type":"string"},"temRI":{"type":"boolean"},"temNotas":{"type":"boolean"},"temITBI":{"type":"boolean"},"enderecoImovel":{"$ref":"#/components/schemas/EnderecoImovel"},"areaConstruidaComplementos":{"$ref":"#/components/schemas/AreaConstruidaComplementos"},"servicoRegistroImoveis":{"$ref":"#/components/schemas/ServicoRegistroImoveis"},"cartorioNotas":{"$ref":"#/components/schemas/CartorioNotas"},"itbi":{"$ref":"#/components/schemas/ITBI"},"dadosGeraisImoveisTitulares":{"type":"array","items":{"$ref":"#/components/schemas/DadosGeraisImoveisTitulares"}},"deletado":{"type":"boolean"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"dataExclusao":{"type":"string","format":"date-time"},"vinculacaoGeoPonto":{"$ref":"#/components/schemas/VinculacaoGeo"},"vinculacaoGeoPoligono":{"$ref":"#/components/schemas/VinculacaoGeo"},"transcientCibDTO":{"$ref":"#/components/schemas/CibDTO"},"transcientFalhasVinculacaoLotePonto":{"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}},"transcientFalhasVinculacaoLotePoligono":{"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}}}},"Elemento":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"requisicao":{"$ref":"#/components/schemas/Requisicao"},"dadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovel"},"uiJson":{"type":"string"},"inscricaoImobiliaria":{"type":"string"},"elementoArqId":{"type":"integer","format":"int64"},"dataInclusao":{"type":"string","format":"date-time"},"falhas":{"type":"array","items":{"$ref":"#/components/schemas/Falha"}}}},"EnderecoImovel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tipoLogradouro":{"type":"integer","format":"int32"},"nomeLogradouro":{"type":"string"},"bairro":{"type":"string"},"cep":{"type":"string"},"numeroImovel":{"type":"string"},"complNroImovel":{"type":"string"},"complEndereco":{"type":"string"},"dadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovel"},"deletado":{"type":"boolean"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"dataExclusao":{"type":"string","format":"date-time"},"valores":{"$ref":"#/components/schemas/EnderecoImovel"}}},"Falha":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"elemento":{"$ref":"#/components/schemas/Elemento"},"tipo":{"type":"integer","format":"int32"},"codigo":{"type":"string"},"campo":{"type":"string"},"complemento":{"type":"string"},"dataInclusao":{"type":"string","format":"date-time"}}},"ITBI":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"valorReferencia":{"type":"number"},"baseCalculo":{"type":"number"},"dataTransacao":{"type":"string","format":"date"},"tipoTransacao":{"type":"integer","format":"int32"},"percTransacionado":{"type":"number"},"transmitentes":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/TransmitenteItbi"}},"adquirentes":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/AdquirenteItbi"}},"dadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovel"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"valores":{"$ref":"#/components/schemas/ITBI"},"dados":{"$ref":"#/components/schemas/ITBIDTO"}}},"ImpedimentoContextoDTO":{"type":"object","properties":{"elemento":{"$ref":"#/components/schemas/Elemento"},"elementoArqId":{"type":"integer","format":"int64"},"inscricaoImobiliaria":{"type":"string"},"uiJson":{"type":"string"},"falhas":{"type":"array","items":{"$ref":"#/components/schemas/Falha"}}}},"Requisicao":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigoIbgeMunicipio":{"type":"integer","format":"int32"},"niUsuario":{"type":"string"},"tipoRequisicao":{"type":"integer","format":"int32"},"dataRequisicao":{"type":"string","format":"date-time"},"elementos":{"type":"array","items":{"$ref":"#/components/schemas/Elemento"}}}},"ServicoRegistroImoveis":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nomeServentiaRi":{"type":"string"},"cnsRi":{"type":"integer","format":"int32"},"cnmRi":{"type":"string"},"numeroMatriculaRi":{"type":"string"},"numeroUltimoAtoRi":{"type":"string"},"livroCartorialRi":{"type":"string"},"folhaLivroCartorialRi":{"type":"string"},"dataUltimaAtualizacao":{"type":"string","format":"date"},"dadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovel"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"valores":{"$ref":"#/components/schemas/ServicoRegistroImoveis"}}},"Titular":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"niTitular":{"type":"string"},"nomeTitular":{"type":"string"},"deletado":{"type":"boolean"},"dadosGeraisImoveisTitulares":{"type":"array","items":{"$ref":"#/components/schemas/DadosGeraisImoveisTitulares"}},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"dataExclusao":{"type":"string","format":"date-time"},"valores":{"$ref":"#/components/schemas/Titular"}}},"TransmitenteItbi":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nomeTransmitente":{"type":"string"},"niTransmitente":{"type":"string"},"itbi":{"$ref":"#/components/schemas/ITBI"},"dataInclusao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"}}},"VinculacaoGeo":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"idLote":{"type":"string"},"codigoIbge":{"type":"string"},"tipoLote":{"type":"string"},"situacao":{"type":"string","enum":["Vinculado","Desvinculado","Desvinculado – Exclusão Lote","Pendente"]},"dataVinculacao":{"type":"string","format":"date-time"},"dataModificacao":{"type":"string","format":"date-time"},"dataDesvinculacao":{"type":"string","format":"date-time"}}},"UiAlteracaoContextoDTO":{"type":"object","properties":{"dgi":{"$ref":"#/components/schemas/DadosGeraisImovel"},"elemento":{"$ref":"#/components/schemas/Elemento"},"elementoArqId":{"type":"integer","format":"int64"},"uiJson":{"type":"string"},"falhas":{"type":"array","items":{"$ref":"#/components/schemas/Falha"}},"novasVinculacoesGeo":{"type":"array","items":{"$ref":"#/components/schemas/VinculacaoGeo"}},"vinculacoesGeoParaDesvincular":{"type":"array","items":{"$ref":"#/components/schemas/VinculacaoGeo"}}}},"UiEntradaImpedimentoDTO":{"type":"object","properties":{"uiEntrada":{"$ref":"#/components/schemas/UnidadeImobiliariaEntradaDTO"},"uiEntradaRaw":{"type":"string"},"detalheErroCampoDTOS":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}}}},"UiInconformidadeContextoDTO":{"type":"object","properties":{"dgi":{"$ref":"#/components/schemas/DadosGeraisImovel"},"elemento":{"$ref":"#/components/schemas/Elemento"},"elementoArqId":{"type":"integer","format":"int64"},"uiJson":{"type":"string"},"falhas":{"type":"array","items":{"$ref":"#/components/schemas/Falha"}},"novasVinculacoesGeo":{"type":"array","items":{"$ref":"#/components/schemas/VinculacaoGeo"}}}},"DadosDominioDTO":{"type":"object","properties":{"descritor":{"type":"string"},"codigo":{"type":"object"}}},"FalhaDTOBuilder":{"type":"object"},"RegistroBuilder":{"type":"object"},"UnidadeImobiliariaDadosAlteracaoDTO":{"type":"object","properties":{"uiEntrada":{"$ref":"#/components/schemas/UnidadeImobiliariaEntradaAlteracaoDTO"},"uiEntradaRaw":{"type":"string"},"detalheFalhaDTOS":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}}}},"UnidadeImobiliariaEntradaAlteracaoDTO":{"required":["DadosGeraisImovel","EnderecoImovel","cib"],"type":"object","properties":{"DadosGeraisImovel":{"$ref":"#/components/schemas/DadosGeraisImovelDTO"},"AreaConstruidaCompl":{"$ref":"#/components/schemas/AreaConstruidaComplDTO"},"EnderecoImovel":{"$ref":"#/components/schemas/EnderecoImovelDTO"},"Titular":{"type":"array","items":{"$ref":"#/components/schemas/TitularDTO"}},"ServicoRegistroImovel":{"$ref":"#/components/schemas/ServicoRegistroImovelDTO"},"CartorioNotas":{"$ref":"#/components/schemas/CartorioNotasDTO"},"ITBI":{"$ref":"#/components/schemas/ITBIDTO"},"DadosGeo":{"$ref":"#/components/schemas/DadosGeoDTO"},"cib":{"type":"string"}}},"UnidadeImobiliariaDadosDTO":{"type":"object","properties":{"uiEntrada":{"$ref":"#/components/schemas/UnidadeImobiliariaEntradaDTO"},"uiEntradaRaw":{"type":"string"},"detalheFalhaDTOS":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/DetalheFalhaDTO"}}}},"DadosGeraisImovelSimplificadoDTO":{"type":"object","properties":{"inscricaoImobiliaria":{"type":"string"},"cibValor":{"type":"string"},"cibSituacao":{"type":"string"}}},"DesativacaoMultiplaRespostaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"uis":{"type":"array","items":{"$ref":"#/components/schemas/DesativacaoIndividualRespostaDTO"}}}},"InclusaoLinhaRespostaDTOBuilder":{"type":"object"},"InclusaoLinhaRespostaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"mensagem":{"type":"string"},"sucesso":{"type":"boolean"}}},"InclusaoRespostaDTO":{"required":["id","refDicionarioFalhas"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"listaUisIncluidas":{"type":"array","items":{"$ref":"#/components/schemas/UiSimplificadaDTO"}},"refDicionarioFalhas":{"type":"string","format":"uri"}}},"InclusaoResumoDTOBuilder":{"type":"object"},"InclusaoResumoDTO":{"type":"object","properties":{"totalLinhas":{"type":"integer","format":"int64"},"inclusoesComSucesso":{"type":"integer","format":"int64"},"inclusoesComErro":{"type":"integer","format":"int64"},"detalhes":{"type":"array","items":{"$ref":"#/components/schemas/InclusaoLinhaRespostaDTO"}}}},"RequisicaoRespostaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"codigoIbgeMunicipio":{"type":"integer","format":"int32"},"niUsuario":{"type":"string"},"tipoRequisicao":{"type":"string"},"dataRequisicao":{"type":"string","format":"date-time"}}},"UiPaginadaDTO":{"required":["conteudo","paginaAtual","tamanhoPagina","totalElementos","totalPaginas"],"type":"object","properties":{"conteudo":{"type":"array","items":{"$ref":"#/components/schemas/UiSimplificadaDTO"}},"paginaAtual":{"type":"integer","format":"int32"},"tamanhoPagina":{"type":"integer","format":"int32"},"totalElementos":{"type":"integer","format":"int64"},"totalPaginas":{"type":"integer","format":"int32"}}},"DetalhesImpedimentos":{"type":"object"},"FalhasValidacao":{"type":"object","properties":{"impedimentosEmRegraDeNegocio":{"$ref":"#/components/schemas/FalhasDTO"},"falhasUiEntrada":{"$ref":"#/components/schemas/FalhasDTO"},"falhasDadosGeraisImovel":{"$ref":"#/components/schemas/FalhasDTO"},"falhasEndereco":{"$ref":"#/components/schemas/FalhasDTO"},"falhasTabelaDominio":{"$ref":"#/components/schemas/FalhasDTO"}}},"TipoFalhaDTO":{"type":"object","properties":{"campo":{"type":"string"},"complemento":{"type":"string"},"tipoFalha":{"type":"string","enum":["CAMPO_NAO_INFORMADO_OU_NULO","CAMPO_COM_FORMATACAO_INVALIDA","CAMPO_COM_TAMANHO_INVALIDO","DATA_COM_FORMATO_INVALIDO","CAMPO_COM_VALOR_INVALIDO","CAMPO_COM_PRRENCHIMENTO_INCOMPATIVEL","CAMPO_COM_DV_INVALIDO"]}}}},"securitySchemes":{"oauth2":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://hom-lb-sinter2-cadurb.np.estaleiro.serpro.gov.br/v1/keycloak/oidc/token"}}}}}}